<main aria-labelledby="title">
    <div class="bread-crumb">
        <p class="card-description">
            <a href="/Home/Index" style="text-decoration: none; color: inherit; font-weight: bold;">Trang chủ</a> &#47; Chi tiết thông tin
        </p>
        <div class="container mt-5">
            <h1 class="site-title">@Model.TitleNew</h1>
            <div class="row content-layout-wrapper align-items-start mt-4">
                <div class="col-12">
                    <p>@Html.Raw(Model.Mota1)</p>
                </div>
                <div class="col-12 text-center mt-3">
                    <img src="~/Content/Img/News/@Model.Anh" alt="Alternate Text" />
                </div>
                <div class="col-12 mt-4">
                    <p>@Model.Mota2</p>
                </div>
            </div>
        </div>
    </div>
</main>